<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Weather App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B0CBDF81C3C53D50000DEC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0CBE111C3C53D60000DEC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B0CBE1C1C3C53D60000DEC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
